
* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}
li {
  list-style: none;
}
body {
  position: relative;
  height: 150vh;
  background-color: #8d9395;;
}
.telo__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container__modeli {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.chery__img {
  width: 200px;
  height: 100px;
}
.header {
  padding: 15px 0 15px;
  background-color: #0945e5;
  border-bottom: 2px solid #0a9ebf;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 20px;
}
.header__menu-link {
  text-decoration: none;
}
.header__menu-item {
  transition: all .5s;
  font-size: 25px;
  line-height: 27px;
  color: #fff;
  font-weight: bold;
}
.header__menu-item:hover {
  border-bottom: 2px solid #000;
  color: #000;
}
.header__contact-btn {
  padding: 25px 25px;
  border-radius: 20px;
  background-color: #13c1e8;
  text-decoration: none;
  transition: all .5s;
  font-size: 25px;
  line-height: 27px;
  color: #000;
  font-weight: bold;
}
.header__contact-btn:hover {
  background-color: transparent;
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0 10px;
  background-color: #0945e5;
}
.footer__border {
  padding-bottom: 40px;
  border-bottom: 2px solid #fff;
}
.footer__botton-text {
  font-size: 20px;
  padding-top: 15px;
  letter-spacing: -1px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.content__info {
    padding: 40px 0 120px;
}
.content__info-text {
    color: #0995e5;
}
.content__info-text span {
    color: #fff;
}
.baza__stati-content {
    padding: 20px 20px 20px 20px;
}
.content__modeli {
  margin-top: 5px;
}
.content__modeli-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.baza__stati-img {
  margin-right: 20px;
}
.baza__stati-content {
  display: flex;
  overflow: hidden;
  border: 2px solid #fff;
  background-color: #ff9317;
  border-radius: 10px;
}
.novosti__row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.novosti__block-img {
  max-width: 280px;
  height: 160px;
}
.novosti__block {
  overflow: hidden;
  cursor: pointer;
  transition: all .5s;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  text-align: center;
  max-width: 300px;
  height: 410px;
}
.novosti__block:hover {
  -webkit-box-shadow: -8px -5px 18px 2px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: -8px -5px 18px 2px rgba(34, 60, 80, 0.25);
  box-shadow: -8px -5px 18px 2px rgba(34, 60, 80, 0.25);
}
.novosti__block-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.novosti__block-subtitle {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.novosti__block-text {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}
.novosti__block-btn {
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #0945e5;
  text-decoration: none;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 14px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
}
.novosti__block-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.novosti__block-btn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}
.novosti__block-btn:hover{
  padding-right: 24px;
  padding-left:8px;
}
.novosti__block-btn:hover:after {
  opacity: 1;
  right: 10px;
}
.novosti__block-btn-red {
  border-radius: 4px;
  background-color: red;
  text-decoration: none;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 14px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
}
.novosti__block-btn-red {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.novosti__block-btn-red:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}
.novosti__block-btn-red:hover{
  padding-right: 24px;
  padding-left:8px;
}
.novosti__block-btn-red:hover:after {
  opacity: 1;
  right: 10px;
}
.modalbackground {
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.5);
  z-index:100;
  opacity:0;
  pointer-events: none;
}
.modalbackground:target {
  opacity: 1;
  pointer-events: auto;
}
.modalwindow {
  width: 100%;
  max-width: 600px;
  margin: 10% auto;
  padding: 2%;
  background: #fff;
  border-radius: 3px;
}
.modalwindow h3 {
  padding: 0;
  margin: 0;
}
.modalwindow p {
  padding: 0;
  margin: 4% 0 8% 0;
}
.modalwindow a {
  display: block;
  color: #fff;
  background: #0945e5;
  padding: 2%;
  margin: 0 auto;
  width: 50%;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}
.modalwindow a:hover {
  background: #47a;
}
.opisanie__title {
  text-align: center;
  font-size: 25px;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.opisanie__img {
  width: 100%;
  height: 450px;
}
.opisanie__text {
  color: #ccc;
  font-size: 20px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.opisanie__subtitle {
  font-size: 30px;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}