
* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}
li {
  list-style: none;
}
body {
  position: relative;
  height: 120vh;
  background-color: #8d9395;
}
.telo__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.chery__img {
  width: 200px;
  height: 100px;
}
.header {
  padding: 15px 0 15px;
  background-color: #0945e5;
  border-bottom: 2px solid #0a9ebf;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 20px;
}
.header__menu-link {
  text-decoration: none;
}
.header__menu-item {
  transition: all .5s;
  font-size: 25px;
  line-height: 27px;
  color: #fff;
  font-weight: bold;
}
.header__menu-item:hover {
  border-bottom: 2px solid #000;
  color: #000;
}
.header__contact-btn {
  padding: 25px 25px;
  border-radius: 20px;
  background-color: #13c1e8;
  text-decoration: none;
  transition: all .5s;
  font-size: 25px;
  line-height: 27px;
  color: #000;
  font-weight: bold;
}
.header__contact-btn:hover {
  background-color: transparent;
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0 10px;
  background-color: #0945e5;
}
.footer__border {
  padding-bottom: 40px;
  border-bottom: 2px solid #fff;
}
.footer__botton-text {
  font-size: 20px;
  padding-top: 15px;
  letter-spacing: -1px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.content__info {
    padding: 40px 0 120px;
}
.content__info-text {
    color: #0995e5;
}
.content__info-text span {
    color: #fff;
}
.baza__stati-content {
    padding: 20px 20px 20px 20px;
}
.content__modeli {
  margin-top: 5px;
}
.content__modeli-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.baza__stati {
  margin-top: 30px;
  cursor: pointer;
  max-width: 240px;
  max-height: 35s0px;
  border-radius: 15px;
  background-color: #fff;
}
.baza__stati-img {
  max-width: 200px;
}
.novosti_title {
    color: #000;
}
.baza__stati-tile {
  font-size: 15px
}