{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
        <div class="container">
            <div class="content__info">
                <div class="content__info-text">
                    <p>
                    Компания Чери — крупнейший производитель и экспортер автомобилей в Китае. Причем более десяти процентов экспортируемых машин приходится на российский рынок.
                    Отчасти это связано с уходом из России многих европейских и японских марок, но в первую очередь — с многочисленными достоинствами автомобилей Чери. Поговорим подробнее об
                    истории китайского бренда, его преимуществах и актуальной модельной линейке.<br>
                        </p>
                    <span>История Chery</span>
                    <p>
                    Бренд Чери был основан в 1997 году в городе Уху, на базе небольшого предприятия, занимавшегося производством автомобильных комплектующих.
                    Первые машины с маркировкой Chery сошли с конвейера два года спустя, однако затем у компании возникли проблемы с лицензированием,
                    поэтому все они были переданы городскому таксопарку.</p>
                    <p>
                    Настоящая же история Chery началась в 2001 году, после того, как акции Чери приобрела шанхайская компания SAIC.
                    За прошедшие годы объемы производства увеличились в десятки раз. Если в 2001-м Chery Automobile выпустил 28 тысяч авто,
                    то в 2024 году — 2,6 миллиона. В разное время компания вступала в коллаборации с ведущими мировыми брендами:
                    Volkswagen, Fiat, Chrysler, Jaguar Land Rover и другими.
                        </p>
                    <p>
                    В настоящий момент дизайн автомобилей Чери разрабатывают итальянские студии Pininfarina и Bertone, большинство конструкционных элементов
                    — британская компания Lotus Engineering, а своя линейка моторов ACTECO создана совместно с авторитетным австрийским предприятием AVL List.
                    Таким образом, Chery Automobile сочетает в себе лучшие черты китайского и мирового автопрома.
                    </p>
                    <span>Чери в России</span>
                    Продажи машин на российском рынке стартовали в 2005 году, а в 2006-м на калининградском заводе «Автотор» началась сборка автомобилей Chery. В 2023 году китайский производитель поднялся на второе место в списке самых продаваемых автобрендов в нашей стране, а в 2024-м объем продаж увеличился до рекордных 157 899 единиц (+31,8 % по сравнению с предыдущим годом).
                    На сегодняшний день компания Chery в России представлена тринадцатью моделями, имеется несколько локальных производств, организованных на месте заводов, ушедших с отечественного рынка брендов, таких как Nissan, Volkswagen и Mercedes-Benz.
                    Модельная линейка.
                </div>
            </div>
        </div>
{% endblock %}