{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/script.js' %}">
</head>
<body>
    <div class="telo__row">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="logo" href="{% url 'home' %}">
                     <img class="chery__img" src="{% static 'main/img/chery.png' %}" alt="logo">
                    </a>
                    <ul class="header__menu">
                        <a class="header__menu-link" href="{% url 'home' %}">
                            <li class="header__menu-item">
                                Главная
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'baza_home' %}">
                            <li class="header__menu-item">
                                Новости
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'modeli' %}">
                            <li class="header__menu-item">
                                Модели
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'opisanie' %}">
                            <li class="header__menu-item">
                                Описание
                            </li>
                        </a>
                        <a class="header__menu-link" href="#">
                            <li class="header__menu-item">
                                Аренда
                            </li>
                        </a>
                    </ul>
                    <div class="header__contact">
                        <a class="header__contact-btn" href="tel:+79216841074">Позонить нам</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="novosti">
                <div class="container">
                    <h1 class="novosti_title" style="color: #211414">О компании.</h1>
                    <h1 class="novosti_title" style="color: #3b3535">Санкт-Петербург, улица Рыбинская, 1 лит.3.</h1>
                    <div style="position:relative;overflow:hidden;">
                        <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"
                           style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a>
                        <a href="https://yandex.ru/maps/2/saint-petersburg/house/rybinskaya_ulitsa_1litz/Z0kYdQRjT0ACQFtjfXVwcH1mZA==/?ll=30.333825%2C59.
                        910581&source=serp_navig&utm_medium=mapframe&utm_source=maps&z=16.4"
                           style="color:#eee;font-size:12px;position:absolute;top:14px;">
                            Яндекс Карты — транспорт, навигация, поиск мест</a><iframe
                            src="https://yandex.ru/map-widget/v1/?ll=30.333825%2C59.910581&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNjIwNjQ5NzM5ElXQoNC-
                            0YHRgdC40Y8sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNGL0LHQuNC90YHQutCw0Y8g0YPQu9C40YbQsCwgMdC70LjRgtCXIgoNU6vyQRUFpW9C&source=serp_navig&z=16.4"
                            width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                    <h2 class="novosti__subtitle" style="color: #211414">
                        Автомобили Chery в Санкт-Петербурге
                    </h2>
                    <p class="novosti__text" style="color: #3b3535">
                        Чери Центр Максимум Гражданский — дилерский центр автохолдинга «Максимум» в Санкт-Петербурге.
                        Здесь можно купить Чери всех актуальных моделей китайского бренда, официально представленных в России.
                        Чтобы ознакомиться с продуктовой линейкой, получить консультацию или узнать стоимость Чери интересующей модели,
                        приезжайте в один из наших салонов по адресу: ул. Руставели 53 или ул. Рыбинская 1 в любой день недели с 9:00 до 21:00.
                    </p>

                    <h2 class="novosti__subtitle" style="color: #211414">
                        Модельный ряд Chery
                    </h2>
                    <p class="novosti__text" style="color: #3b3535">
                        В августе года автопроизводитель предлагает восемь моделей — семь кроссоверов самых популярных классов
                        (от субкомпактного до среднеразмерного) и эффектный седан бизнес-класса. Каждый из автомобилей отличается
                        высоким качеством изготовления кузова и других элементов, комфортным и функциональным салоном,
                        передовым электронным оборудованием, а также надежным, достаточно мощным и экономичным двигателем.
                    </p>

                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__top">
                <header class="header">
                <div class="container__modeli">
                    <div class="header__inner">
                        <a class="logo" href="#">
                         <img class="chery__img" src="{% static 'main/img/chery.png' %}" alt="logo">
                        </a>
                        <ul class="header__menu">
                            <a class="header__menu-link" href="{% url 'home' %}">
                                <li class="header__menu-item">
                                    Главная
                                </li>
                            </a>
                            <a class="header__menu-link" href="#">
                                <li class="header__menu-item">
                                    Новости
                                </li>
                            </a>
                            <a class="header__menu-link" href="#">
                            <li class="header__menu-item">
                                Модели
                            </li>
                        </a>
                            <a class="header__menu-link" href="{% url 'opisanie' %}">
                                <li class="header__menu-item">
                                    Описание
                                </li>
                            </a>
                            <a class="header__menu-link" href="#">
                                <li class="header__menu-item">
                                    Аренда
                                </li>
                            </a>
                        </ul>
                        <div class="header__contact">
                            <a class="header__contact-btn" href="tel:+79216841074">Позонить нам</a>
                        </div>
                    </div>
                </div>
            </header>
            </header>
            </div>
            <div class="footer__botton">
            	<p class="footer__botton-text">
            		© Все права защищены.
            	</p>
            </div>
        </footer>
    </div>
    {% block content %}
    {% endblock%}
    </main>
</body>
</html>