{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="telo__row">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="logo" href="{% url 'home' %}">
                        <img class="chery__img" src="{% static 'main/img/chery.png' %}" alt="logo">
                    </a>
                    <ul class="header__menu">
                        <a class="header__menu-link" href="{% url 'home' %}">
                            <li class="header__menu-item">
                                Главная
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'baza_home' %}">
                            <li class="header__menu-item">
                                Новости
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'modeli' %}">
                            <li class="header__menu-item">
                                Модели
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'opisanie' %}">
                            <li class="header__menu-item">
                                Описание
                            </li>
                        </a>
                        <a class="header__menu-link" href="{% url 'arenda' %}">
                            <li class="header__menu-item">
                                Аренда
                            </li>
                        </a>
                    </ul>
                    <div class="header__contact">
                        <a class="header__contact-btn" href="tel:+79216841074">Позонить нам</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="opisanie">
                <div class="container">
                    <div class="opisanie__content">
                        <h2 class="opisanie__title">
                            О бренде Chery.
                        </h2>
                        <img class="opisanie__img" src="{% static 'main/img/brend.jpg' %}" alt="logo">
                        <p class="opisanie__text">
                            Chery — китайский автопроизводитель, основанный в 1997 году. С течением времени он стал одним из крупнейших<br>
                            автомобильных брендов в мире благодаря постоянным инновациям и качеству своих продуктов.
                        </p>
                        <h2 class="opisanie__subtitle">
                            История производителя.
                        </h2>
                        <p class="opisanie__text">
                            Chery Automobile Co., Ltd., или просто Chery, — это китайская автомобильная компания, основанная в 1997 году.
                        </p>
                        <p class="opisanie__text">
                            История компании Chery Automobile началась в 1997 году, когда правительство города Уху приняло решении о<br>
                            создании полноценного промышленного предприятия. Вскоре началось строительство первого завода в провинции Аньхой.<br>
                            Молодому концерну не удавалось получить лицензию на производство автомобилей, поэтому первыми товарами,<br>
                            выпускаемыми под маркой Чери, стали двигатели внутреннего сгорания. Тем не менее, завод был оснащён производственной линией,<br>
                            купленной у корпорации Ford. За неимением возможности реализовать даже первую опытную партию<br>
                            копий Seat Toledo, в 1999 году производство было остановлено.
                        </p>
                        <p class="opisanie__text">
                            В начале XXI века пятая часть акций Чери была передана шанхайской корпорации SAIC, которая к тому времени уже имела<br>
                            успешные совместные предприятия с Volkswagen Group и General Motors. Сотрудничество со столь сильным игроком упростило<br>
                            получение лицензии, и вскоре были представлены первые седаны бренда:
                        </p>
                        <p class="opisanie__text">
                            - Fulwin — комбинированная версия немецких VW Santana и Jetta на базе Toledo.<br>
                            - Amulet — экспортное название такого же автомобиля с минимальными доработками.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__top">
                <header class="header">
                <div class="container">
                    <div class="header__inner">
                        <a class="logo" href="#">
                         <img class="chery__img" src="{% static 'main/img/chery.png' %}" alt="logo">
                        </a>
                        <ul class="header__menu">
                            <a class="header__menu-link" href="{% url 'home' %}">
                                <li class="header__menu-item">
                                    Главная
                                </li>
                            </a>
                            <a class="header__menu-link" href="#">
                                <li class="header__menu-item">
                                    Новости
                                </li>
                            </a>
                            <a class="header__menu-link" href="#">
                            <li class="header__menu-item">
                                Модели
                            </li>
                        </a>
                            <a class="header__menu-link" href="#">
                                <li class="header__menu-item">
                                    Описание
                                </li>
                            </a>
                            <a class="header__menu-link" href="{% url 'arenda' %}">
                                <li class="header__menu-item">
                                    Аренда
                                </li>
                            </a>
                        </ul>
                        <div class="header__contact">
                            <a class="header__contact-btn" href="tel:+79216841074">Позонить нам</a>
                        </div>
                    </div>
                </div>
            </header>
            </div>
            <div class="footer__botton">
            	<p class="footer__botton-text">
            		© Все права защищены.
            	</p>
            </div>
        </footer>
    </div>
    {% block content %}
    {% endblock%}
    </main>
</body>
</html>